* {boxRM-sizingRM:border-box}

/* Slideshow container */
.slideshowRM-containerRM {
   position: relative;
   background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: #47B9B6;
  margin: auto;
 }

/* Hide the images by default */
.mySlidesRM {
  display: none;
}


/* Next & previous buttons */
.prevRM, .nextRM {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */
.nextRM {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevRM:hover, .nextRM:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.textRM {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
 position: absolute;
  bottom: 8px;
  width: 100%;
  
 top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Number text (1/3 etc) */
.numbertextRM {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  
 top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* The dots/bullets/indicators */
.dotRM {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeRM, .dotRM:hover {
  background-color: #47B9B6;
}

/* Fading animation */
.fadeRM {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


.centerRM {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


@-webkitRM-keyframesRM fadeRM {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframesRM fadeRM {
  from {opacity: .4}
  to {opacity: 1}
}