<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

<body>

<div id="all">
{{ if and ( isset .Params "blog") ( eq (.Params.blog) "Y") }}
 <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-post">

                        {{ if or .Params.author .Params.date }}
                          <p class="text-muted text-uppercase mb-small text-right">
                            {{ if .Params.author }}{{ i18n "authorBy" }} <a href="#">{{ .Params.author }}</a>{{ end }}
                            {{ if and .Params.author .Params.date }} | {{ end }}
                            {{ if .Params.date }}{{ .Date.Format .Site.Params.date_format }}{{ end }}
                          </p>
                        {{ end }}

                        <div id="post-content">
<h1> prova </h1>
                          {{ .Content }}
                        </div>
                        <!-- /#post-content -->
                        {{ if .Site.DisqusShortname }}
                        <div id="comments">
                            {{ template "_internal/disqus.html" . }}
                        </div>
                        {{ end }}

                    </div>
                    <!-- /#blog-post -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}
{{ else }}
{{ if and ( isset .Params "tipo") ( eq (.Params.tipo) "Curriculum") }}
 
 <div id="content" >
    <div class="container">
        <div class="row">
     	    <div class="col-md-12" > 
                  <!-- *** foto *** -->
                       {{ if .Params.immagine }} 
 			<div class="flex">
		         	<a href="javascript:history.go(-1)"  > 
                             		<img   src="/medical-murgia/img/X2.png" width="42" height="42" margin-bottom="20px"  margin-right="50px" margin-left="0px" float="left" > 
                        	</a> 
				<a href="javascript:history.go(-1)"  > 
                             		<img  class="flex2" src="/medical-murgia/img/X2_Bianca.png" width="42" height="42" margin-bottom="20px"  margin-right="50px" margin-left="0px" float="left"  > 
                        	</a>
 
			</div>           
			<figure class="flex" style="margin-bottom:20px; margin-right:50px; margin-left:0px; float:left; width:50%"/>
                                <img class="flex" src="/medical-murgia/{{ .Params.immagine }}" width="100%" margin-bottom="20px"  margin-right="50px" margin-left="0px" float="left" >
 			</figure>
	 		<div  class="curriculum " >   
				<h1>{{ .Params.titolo1 }}</h1>
 				<h2>{{ .Params.subtitolo }}</h2>
				<h3>{{ .Params.telefono }}</h3>
				<h3>{{ .Params.mail }}</h3>
				<br><br><br>
	              		{{ .Content }}
                    	  </div> 
              
		               
			 {{ else }} 
                 	{{ end }}
                         
        </div>
     </div>
   </div> 
</div>
 
{{ else }}

  <header>
        {{ partial "nav.html" . }}

 
        </header>

       {{ partial "breadcrumbs.html" . }} 


        <div id="content">
            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-10" id="blog-post">
		                        {{ if or .Params.author .Params.date }}
                        <p class="text-muted  mb-small text-right"> 
                            {{ if .Params.author }} Titolare <a href="#">{{ .Params.author }}</a>{{ end }}
                            {{ if and .Params.author .Params.mail }} | {{ end }}
                            {{ if .Params.mail }}{{ .Params.mail }}{{ end }}
                           </p>
                        {{ end }}

                        <div id="post-content">

 {{ if .Params.immagine }} <img src="/medical-murgia/{{ .Params.immagine }}" style="margin-right:40px; margin-bottom:10px;float:left" >{{ else }} {{ end }}
                          {{ .Content }}
                        </div>
                        {{ if .Site.DisqusShortname }}
                        <div id="comments">
                            {{ template "_internal/disqus.html" . }}
                        </div>
                        {{ end }} 

                    </div>
                  <!-- *** LEFT COLUMN END *** -->
                 </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

      {{ partial "footer.html" . }}

        
{{ end }}
{{ end }}
    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
