<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h1>  <!-- {{ if .Params.immagine }} <img src="/medical-murgia/{{ .Params.immagine }}"  >{{ else }} {{ end }} -->
		 {{ if and  ( isset .Params "link") ( isset .Params "livello") }}
 			<a href="/medical-murgia/{{ .Params.link }}"><img src="{{ .Params.livello }}img/FrecciaBianca.png" style=" width:2%"/></a> {{ .Title }}
		  {{ else }}  {{ .Title }}   {{ end }}

	      </h1>
            </div>
        </div>
    </div>
</div>
