

<section>
 <div class="heading text-center">
                      <h2> Lo Studio Medical Murgia </h2> 
                </div>
  <div class="slideshowRM-containerRM"> 
 
                   {{ range sort .Site.Data.carouselStudio "weight" }}
			<!-- Full-width images with number and caption text -->
  			<div class="mySlidesRM fadeRM centerRM "> 
 
<center>
    				<img class="img-responsive" src="{{ .image }}" alt="" style="max-height:470px;">


    				<div class="textRM"> {{ .description}}</div>
</center>
  			</div> 
                  {{ end }}
 		  <!-- Next and previous buttons -->
  		  <a class="prevRM" onclick="plusSlides(-1)">&#10094;</a>
  		  <a class="nextRM" onclick="plusSlides(1)">&#10095;</a>
     	      </div>
          <br>
	<!-- The dots/circles -->
	<div style="text-align:center">
		 {{ range sort .Site.Data.carouselStudio "weight" }}
      			<span class="dotRM" onclick="currentSlide({{ .weight }})"></span>
 		{{ end }}
        </div>
  </div>
</section>
