{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel">
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item">
                    <div class="row">
                        <div class="col-sm-5 right">
                            <h2>{{ .title }}</h2>
                            {{ .description | safeHTML }}
			  <a href="{{ .url }}" > <h3>{{ .title2 }}</h3> </a>
			    <h3>{{ .title3 }}</h3>
                        </div>
                        <div class="col-sm-7">
                          <a href="{{ .url2 }}" >  <img class="img-responsive" src="{{ .image }}" alt="" style="max-height:400px;"> </a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
