<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8 ">

            <section>

                {{ .Content }}

                {{ if isset .Site.Params "email" }}

                <div class="heading">
                  <h3>{{ i18n "contactForm" }}</h3>
                </div>

                <div id="contact-message"></div>

                <form {{ with .Site.Params.contact_form_ajax }}class="contact-form-ajax"{{ else }}{{ end }} method="post" action="http://www.medicalmurgia.it/Aruba-contactSito.php">
                  <div class="row">
                     <div class="col-sm-12">
                            <div class="form-group">
                              <label for="cars">Selezionare l'Argomento<sup><small style="color:red;"> * </small></sup>:</label>
  					<select name="Specialita" id="Specialita" required>
						<option value=""></option>
    						<option value="Odontoiatria">Odontoiatria</option>
    						<option value="Pediatria">Pediatria</option>
    						<option value="Ortopedia">Ortopedia</option>
    						<option value="Medicina del Lavoro">Medicina del Lavoro</option>
						<option value="Altro">Altro</option>
  					</select>
                            </div>
                        </div>

                    <div class="col-sm-6">
                            <div class="form-group">
                              <label for="name">{{ i18n "contactName" }} <sup><small style="color:red;"> * </small></sup></label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="cognome">{{ i18n "contactCognome" }}<sup><small style="color:red;"> * </small></sup></label>
                                <input type="text" class="form-control" name="cognome" id="cognome" required>
                            </div>
                        </div>
 		        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="telefono">{{ i18n "contactTel" }} </label>
                                <input type="text" class="form-control" name="telefono" id="telefono">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">{{ i18n "contactMail" }}<sup><small style="color:red;"> * </small></sup></label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message">{{ i18n "contactMessage" }}<sup><small style="color:red;"> * </small></sup></label>
                                <textarea id="message" class="form-control textarea"   name="message" required></textarea>
                            </div>
                        </div>
			 <div class="col-sm-12">
                            <div class="form-group">
                               <input type="Checkbox"  required>
                                Dichiaro Di Aver Letto Compreso E Accettato L'informativa Sulla <a href="/medical-murgia/privacypolicy"> Privacy </a>
Ai Sensi Dell'art 13 Del Dlgs 1962003 <sup><small style="color:red;"> * </small></sup>
<br><br><br>
 <sup><small style="color:red;"> * </small></sup> <small>Campi Obbligatori</small>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                          <button type="submit" class="btn btn-template-main"><i class="far fa-envelope"></i>{{ i18n "contactSend" }}</button>

                        </div>
                    </div>
                    <!-- /.row -->
                </form>



                {{ end }}

            </section>

        </div>

        <div class="col-md-4 ">

            {{ if isset .Site.Params "address" }}
            <section>

              <h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>

                {{ .Site.Params.address | safeHTML }}

            </section>

            {{ end }}

        </div>

 <div class="col-md-4 ">

            {{ if isset .Site.Params "address" }}
            <section>

              <h3 class="text-uppercase"> {{ i18n "Orari" }}</h3>
<div class="col-md-4 " >
 
                {{ .Site.Params.recentPosts  | safeHTML }}
 
</div>
<div class="col-md-6 ">
             
                {{ .Site.Params.ContactOrari  | safeHTML }}
</div>
            </section>

            {{ end }}

        </div>


    </div>
    <!-- /.row -->

</div>



{{ partial "map.html" . }}
