{{ if isset .Site.Params "equipestaff" }}
{{ if .Site.Params.equipestaff.enable }}
{{ if gt (len .Site.Data.EquipeStaff) 0 }}
  <div class="container">
{{ .Content }}
 </div>
<section class="bar background-white">

    <div class="container">

        {{ range $index, $element := sort .Site.Data.EquipeStaff "weight" }}
        {{ if eq (mod $index 2) 0 }}

        <div class="col-md-12"  >
            <div class="row">
        {{ end }}
<div class="imgstaff">                
                <div class="col-md-6">
                    <div class="box-simple">
                         <img  class="imgstaff" src="{{ .icon }}"   style="width:300px;border-radius: 10px">
		         <h3>{{ $element.name | markdownify }}</h3>
                       <p>{{ $element.description | markdownify }}</p>
                   </div>
                </div>
</div>
       	 {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.EquipeStaff) 1 )) }}
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>

{{ end }}
{{ end }}
{{ end }}

{{ if isset .Site.Params "equipestaff" }}
{{ if .Site.Params.equipestaff.enable }}
{{ if gt (len .Site.Data.EquipeStaff2) 0 }}



    <div class="container">

        {{ range $index, $element := sort .Site.Data.EquipeStaff2 "weight" }}
        {{ if eq (mod $index 3) 0 }}

        <div class="col-md-12">
            <div class="row">
        {{ end }}
              <div class="imgstaff">  
                <div class="col-md-4">

                    <div class="box-simple">
            			  <img   src="{{ .icon }}" style="width: 200px;border-radius: 10px">
			  <h3>{{ $element.name | markdownify }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>
  </div> 
                </div>
       	 {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.EquipeStaff2) 1 )) }}
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}







{{ if isset .Site.Params "equipestaff" }}
{{ if .Site.Params.equipestaff.enable }}
{{ if gt (len .Site.Data.EquipeEsterni) 0 }}
  <div class="container">
<h1 id="staff-medical-murgia">I nostri Professionisti</h1>
 </div>
<section class="bar background-white">

    <div class="container">

        {{ range $index, $element := sort .Site.Data.EquipeEsterni "weight" }}
        {{ if eq (mod $index 3) 0 }}

        <div class="col-md-12">
            <div class="row">
        {{ end }}
              <div class="imgstaff">  
                <div class="col-md-4">

                    <div class="box-simple">


                        {{ with $element.url }}
                        <a href="{{ $element.url }}">
                        {{ end }}
                           
            		         <a href="/medical-murgia/{{ .url }}">
            			  <img   src="{{ .icon }}" style="width: 200px;high: 200px;border-radius: 10px">
				 </a>
                         
                        {{ with $element.url }}
                        </a>
                        {{ end }}
                        <h3>{{ $element.name | markdownify }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>
  </div> 
                </div>
       	 {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.EquipeEsterni) 1 )) }}
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
