<footer id="footer">
    <div class="container">
        <!-- /.col-md-4 -->
	<div class="col-md-12">
				
		       {{ if isset .Site.Params "about_us" }}
       				<div class="col-md-4  col-sm-6" >
          			  <!--	<img src="/medical-murgia/img/MM_Logo.png"  style="float:left; height:52px;margin-top: 30; margin-right: 10px; ">   -->
					<h4>	{{ i18n "aboutUs" }}</h4>
					{{ .Site.Params.about_us | safeHTML }}
            				<hr class="hidden-md hidden-lg hidden-sm">
  				</div>
   			<!-- /.col-md-4 -->
        		{{ end }}
        		<!-- /.col-md-4 -->
		        {{ if isset .Site.Params "address" }}
		        	<div class="col-md-4 col-sm-6" >
		          		<h4>{{ i18n "contactTitle"}}</h4>
            				{{ .Site.Params.address | safeHTML }}
         				<!--  <a href="/contact" class="btn btn-small btn-template-main">{{ i18n "contactGoTo" }}</a> -->
            				<hr class="hidden-md hidden-lg hidden-sm">
        			</div>
        			<!-- /.col-md-4 -->
        		{{ end }}
			{{ if isset .Site.Params "address" }}
        			<div class="col-md-4 col-sm-6"  >
					<a  href="/medical-murgia/cookiepolicy/">
               					<h4>{{ i18n "Cookie"}}</h4>
            				</a>
          				<a  href="/medical-murgia/privacypolicy/">
          					<h4>{{ i18n "Policy"}}</h4>  
					</a>
           				<!--   <a href="/contact" class="btn btn-small btn-template-main">{{ i18n "contactGoTo" }}</a> -->
            				<hr class="hidden-md hidden-lg hidden-sm">
        			</div>
        			<!-- /.col-md-4 -->
        		{{ end }}
   		</div>
   	</div>
    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">

 <div class="headingFooter text-center" >


<img src="{{ .Site.Params.LineaFooter | relURL }}" style="width:100%;height:1px">
 </div> 
            {{ if isset .Site.Params "copyright" }}
            <p class="text-center">{{ .Site.Params.copyright | safeHTML }}</p>
            {{ end }}
           
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
