{{ if isset .Site.Params "latitude" }}
  {{ if isset .Site.Params "longitude" }}
      <div class="hidden">
        <input id="gmap-lat" value="{{ .Site.Params.latitude }}" />
        <input id="gmap-lng" value="{{ .Site.Params.longitude }}" />
        <input id="gmap-marker" value="{{ "img/marker.png" | relURL }}" />
        {{ if isset .Site.Params "direction" }}
          <input id="gmap-dir" value="{{ .Site.Params.direction }}" />
        {{ else }}
          <input id="gmap-dir" value="{{ .Site.Params.latitude }},{{ .Site.Params.longitude }}" />
        {{ end }}
      </div>
      <div id="map" />
  {{ end }}
{{ end }}


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2817.895540474382!2d7.639081914974427!3d45.067630067838806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47886cef52003213%3A0xc2dfc3e31ebbb7f0!2sCorso%20Peschiera%2C%20211A%2C%2010141%20Torino%20TO!5e0!3m2!1sen!2sit!4v1591482547376!5m2!1sen!2sit" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>