{{ if isset .Site.Params "home_medspec" }}
{{ if .Site.Params.home_medspec.enable }}
{{ if gt (len .Site.Data.home_medspec) 0 }}
<section class="bar background-white">
 <div class="heading text-center">
                    
<a href="/medical-murgia/02-medicinaspec/" > <h2>{{ .Site.Params.home_medspec.title | markdownify }} </h2></a> 
              

                </div>
    <div class="container">
        {{ range $index, $element := sort .Site.Data.home_medspec "weight" }}
        {{ if eq (mod $index 3) 0 }}
        <div class="col-md-12">
            <div class="row">
        {{ end }}
             
                <div class="col-md-4">
                    <div class="box-simple">
                        {{ with $element.url }}
                        <a href="{{ $element.url }}">
                        {{ end }}
                          <!--   <div class="icon">  
                               <i class="{{ .icon }}"></i>  
                                </div> -->
				<a href="{{ $element.url }}">
            			  	<img src="{{ .icon }}" >
				</a>
                          
                        {{ with $element.url }}
                        </a>
                        {{ end }}
                        <h3>{{ $element.name | markdownify }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>
                </div>
        {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.home_medspec) 1 )) }}
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
