{{ if isset .Site.Params "medspec" }}
{{ if .Site.Params.medspec.enable }}
{{ if gt (len .Site.Data.medspec) 0 }}
 <!-- <div class="container">
{{ .Content }}
 </div>  -->
<!-- <section class="bar background-white"> -->
 <div class="heading text-center">
      <h2>{{ .Site.Params.medspec.title | markdownify }} </h2>
 </div>
    <div class="container">
        {{ range $index, $element := sort .Site.Data.medspec "weight" }}
        {{ if eq (mod $index 4) 0 }}
        <div class="col-md-12">
            <div class="row">
        {{ end }}
             
                <div class="col-md-3">
                    <div class="box-simple">
                        {{ with $element.url }}
                        <a href="{{ $element.url }}">
                        {{ end }}
                        
				<a href="../{{ $element.url }}">
            			  	<img src="{{ .icon }}" 
                                           onmouseover="this.src={{ .icon2 }}" 
					   onmouseout="this.src={{ .icon }}" 
					border="0"											
                                         >
				</a>
                          
                        {{ with $element.url }}
                        </a>
                        {{ end }}
                        <h3>{{ $element.name | markdownify }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>
                </div>
        {{ if or (eq (mod $index 4) 3) (eq $index (sub (len $.Site.Data.medspec) 1 )) }}
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
<!--</section> -->
{{ end }}
{{ end }}
{{ end }}
