<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8 ">

            <section>

                {{ .Content }}

                {{ if isset .Site.Params "email" }}

                <div class="heading">
                  <h3>{{ i18n "contactForm" }}</h3>
                </div>

                <div id="contact-message"></div>

                <form {{ with .Site.Params.contact_form_ajax }}class="contact-form-ajax"{{ else }}{{ end }} method="post" action="http://www.medicalmurgia.it/Aruba-prenotaSito.php">
                  <div class="row">
                     <div class="col-sm-8">
                            <div class="form-group">
                              <label for="cars">Selezionare il Servizio<sup><small style="color:red;"> * </small></sup>:</label>
  					<select name="Specialita" id="Specialita" required>
						<option value=""></option>
    						<option value="Odontoiatria">Odontoiatria</option>
    						<option value="Pediatria">Pediatria</option>
    						<option value="Ortopedia">Ortopedia</option>
    						<option value="Medicina del Lavoro">Medicina del Lavoro</option>
						<option value="Altro">Altro</option>
  					</select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="name">{{ i18n "contactName" }} <sup><small style="color:red;"> * </small></sup></label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="cognome">{{ i18n "contactCognome" }} <sup><small style="color:red;"> * </small></sup></label>
                                <input type="text" class="form-control" name="cognome" id="cognome" required>
                            </div>
                        </div>
 		        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="telefono">{{ i18n "contactTel" }} <sup><small style="color:red;"> * </small></sup></label>
                                <input type="text" class="form-control" name="telefono" id="telefono" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">{{ i18n "contactMail" }} <sup><small style="color:red;"> * </small></sup></label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>

			<div class="col-sm-6">
                            <div class="form-group">
                            Orari preferiti per un contatto telefonico<br>
			    	<input type="Checkbox"  id="mattino" name="mattino" value="mattino"> 
					<label for="mattino">mattino </label><br>
				<input type="Checkbox"  id="pausa" name="pausa" value="pausa pranzo"> 
					<label for="pausa">pausa pranzo </label><br> 
				<input type="Checkbox"  id="pomeriggio" name="pomeriggio" value="pomeriggio"> 
                                        <label for="pomeriggio">pomeriggio </label><br> 
				<input type="Checkbox"  id="sera" name="sera" value="sera"> 
                                        <label for="sera">sera </label><br>
                              
                            </div>
                        </div>
			<div class="col-sm-6">
                            <div class="form-group">
                            Giorni preferiti per un appuntamento<br>
			    	<input type="Checkbox"  id="Lun" name="Lun" value="Lun"> <label for="Lun">Lun</label><br>
				<input type="Checkbox"  id="Mar" name="Mar" value="Mar"> <label for="Mar">Mar</label><br>
				<input type="Checkbox"  id="Mer" name="Mer" value="Mer"> <label for="Mer">Mer</label><br>
				<input type="Checkbox"  id="Gio" name="Gio" value="Gio"> <label for="Gio">Gio</label><br>
				<input type="Checkbox"  id="Ven" name="Ven" value="Ven"> <label for="Ven">Ven</label><br>
				<input type="Checkbox"  id="Sab" name="Sab" value="Sab mattino"> <label for="Sab">Sab Mattino</label>
                              
                            </div>
                        </div>
			<div class="col-sm-6">
                            <div class="form-group">
                            Orari preferiti per un appuntamento<br>
			    	<input type="Checkbox"  id="mat" name="mat" value="09:00-12:00"> <label for="mat">09:00-12:00</label><br>
				<input type="Checkbox"  id="pom" name="pom" value="14:00-17:00"> <label for="pom">14:00-17:00</label><br>
				<input type="Checkbox"  id="ser" name="ser" value="17:00-19:00"> <label for="ser">17:00-19:00</label>
                            </div>
                        </div>
 			
                        


                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message">{{ i18n "contactMessage" }} <sup><small style="color:red;"> * </small></sup></label>
                                <textarea id="message" class="form-control textarea"   name="message" required></textarea>
                            </div>
                        </div>
			 <div class="col-sm-12">
                            <div class="form-group">
                               <input type="Checkbox"  required>
                                Dichiaro Di Aver Letto Compreso E Accettato L'informativa Sulla <a href="/medical-murgia/privacypolicy"> Privacy </a>
Ai Sensi Dell'art 13 Del Dlgs 1962003  <sup><small style="color:red;"> * </small></sup>
<br>
 <sup><small style="color:red;"> * </small></sup> <small>Campi Obbligatori</small>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                          <button type="submit" class="btn btn-template-main"><i class="far fa-envelope"></i>{{ i18n "contactSend" }}</button>

                        </div>
                    </div>
                    <!-- /.row -->
                </form>



                {{ end }}

            </section>

        </div>

        <div class="col-md-4 ">

            {{ if isset .Site.Params "address" }}
            <section>

              <h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>

                {{ .Site.Params.address | safeHTML }}

            </section>

            {{ end }}

        </div>

 <div class="col-md-4 ">

            {{ if isset .Site.Params "address" }}
            <section>

              <h3 class="text-uppercase"> {{ i18n "Orari" }}</h3>
<div class="col-md-8 " >
 
                {{ .Site.Params.recentPosts  | safeHTML }}
 
</div>
<!--<div class="col-md-6">
             
                {{ .Site.Params.ContactOrari  | safeHTML }}
</div> -->
            </section>

            {{ end }}

        </div>


    </div>
    <!-- /.row -->

</div>



{{ partial "map.html" . }}
