{{ if isset .Site.Params "serviziprs" }}
{{ if .Site.Params.serviziprs.enable }}
{{ if gt (len .Site.Data.serviziprs) 0 }}
  <div class="container">
{{ .Content }}
 </div>
<section class="bar background-white">

    <div class="container">
        {{ range $index, $element := sort .Site.Data.serviziprs "weight" }}
        {{ if eq (mod $index 3) 0 }}
        <div class="col-md-12">
            <div class="row">
        {{ end }}
             
                <div class="col-md-4">
                    <div class="box-simple">
                        {{ with $element.url }}
                        <a href="{{ $element.url }}">
                        {{ end }}
                          <!--   <div class="icon">  
                               <i class="{{ .icon }}"></i>  
                                </div> -->
				<a href="../{{ $element.url }}">
            			  	<img src="{{ .icon }}" >
				</a>
                          
                        {{ with $element.url }}
                        </a>
                        {{ end }}
                        <h3>{{ $element.name | markdownify }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>
                </div>
        {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.serviziprs) 1 )) }}
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
