{{ if isset .Site.Params "serviziprs" }}
{{ if .Site.Params.serviziprs.enable }}
{{ if gt (len .Site.Data.serviziprs) 0 }}
 <!-- <div class="container">
{{ .Content }}
 </div> -->
<!--<section class="bar background-white"> -->
 <div class="heading text-center">
  <h2>{{ .Site.Params.home_serviziprs.title | markdownify }} </h2>            
 </div>
    <div class="container">
        {{ range $index, $element := sort .Site.Data.serviziprs "weight" }}
        {{ if eq (mod $index 4) 0 }}
        <div class="col-md-12">
            <div class="row">
        {{ end }}
             
                <div class="col-md-3">
                    <div class="box-simple">
                        {{ with $element.url }}
                        <a href="{{ $element.url }}">
                        {{ end }}
                        	<a href="../{{ $element.url }}">
            			  	<img src="{{ .icon }}" 
					   onmouseover="this.src={{ .icon2 }}" 
					   onmouseout="this.src={{ .icon }}" 
					border="0"
					>
				</a>
                          
                        {{ with $element.url }}
                        </a>
                        {{ end }}
                        <h3>{{ $element.name | markdownify }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>
                </div>
        {{ if or (eq (mod $index 4) 3) (eq $index (sub (len $.Site.Data.serviziprs) 1 )) }}
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
<!-- </section>-->
{{ end }}
{{ end }}
{{ end }}
