{{ if isset .Site.Params "staff" }}
{{ if .Site.Params.staff.enable }}
{{ if gt (len .Site.Data.StaffMedicalMurgia) 0 }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <a href="/medical-murgia/04-equipe/" > <h2>{{ .Site.Params.staff.title | markdownify }} </h2></a> 
                </div>

                <p class="lead">
                  {{ .Site.Params.staff.subtitle | markdownify }}
                </p>
                <ul class="owl-carousel customers">
                    {{ range .Site.Data.StaffMedicalMurgia }}
                    <li class="item" title="{{ .name }}">
                        {{ if .url }}
                      <!--    <a href="{{ .url }}" >   -->
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                       <!--    </a> -->
                        {{ else }}
                          <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
