﻿<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

        {{ partial "carousel.html" . }}

        {{ partial "MedicinaSpec.html" . }}

	{{ partial "ServiziPersona.html" . }}


        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

            <!-- {{ partial "recent_posts.html" . }} -->

      

	{{ partial "StaffMedicalMurgia.html" . }}
       
       
 	
	{{ partial "carouselStudio.html" . }}

 {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

<link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/>
<script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js">
</script><script>window.addEventListener("load", function(){window.wpcc.init({"colors":{"popup":{"background":"#edfdfa","text":"#000000","border":"#5ec2b6"},"button":{"background":"#5ec2b6","text":"#ffffff"}},"position":"bottom","corners":"small","padding":"large","margin":"none","content":{"href":"/medical-murgia/cookiepolicy/","message":"Questo sito utilizza cookie per consentire una navigazione efficiente sullo stesso, per analizzare statisticamente le visite degli utenti, nonché cookie, di terze parti.\nChiudendo questo banner, continuando a navigare o accedendo a un qualunque elemento del sito senza cambiare le impostazioni dei cookie, ne acconsenti all'uso.\nSe vuoi saperne di più o negare il consenso a tutti o ad alcuni cookie","link":"clicca qui.","button":"OK"}})});</script>

  </body>
</html>
